# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore environment folders
env/
venv/

# Ignore data and model outputs
*.h5
*.csv
*.zip
*.ipynb
*.tar.gz    
*.tar


analysis/
code/
crystal/
data/
